//! **************************************************************************
// Written by: Map P.49d on Thu Mar 22 11:29:01 2018
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

