NET "AN<0>" LOC = "F17" ; #AN0
NET "AN<1>" LOC = "H17" ; #AN1
NET "AN<2>" LOC = "C18" ; #AN2
NET "AN<3>" LOC = "F15" ; #AN3
NET "BTN0" LOC = "B18" ; #BTN3
#NET "BTN1" LOC = "D18" ; #BTN2
#NET "BTN2" LOC = "E18" ; #BTN1
#NET "BTN3" LOC = "H13" ; #BTN0
NET "F50MHz" LOC = "B8" ; #F50MHz
NET "seg<0>" LOC = "L18" ; #CA
NET "seg<1>" LOC = "F18" ; #CB
NET "seg<2>" LOC = "D17" ; #CC
NET "seg<3>" LOC = "D16" ; #CD
NET "seg<4>" LOC = "G14" ; #CE
NET "seg<5>" LOC = "J17" ; #CF
NET "seg<6>" LOC = "H14" ; #CG
NET "seg<7>" LOC = "C17" ; #CP
NET "SW<0>" LOC = "G18" ; #SWT0
NET "SW<1>" LOC = "H18" ; #SWT1
NET "SW<2>" LOC = "K18" ; #SWT2
NET "SW<3>" LOC = "K17" ; #SWT3
NET "SW<4>" LOC = "L14" ; #SWT4
NET "SW<5>" LOC = "L13" ; #SWT5
NET "SW<6>" LOC = "N17" ; #SWT6
NET "SW<7>" LOC = "R17" ; #SWT7
NET "LED<0>" LOC = "J14" ; #LD0
NET "LED<1>" LOC = "J15" ; #LD1
NET "LED<2>" LOC = "K15" ; #LD2
NET "LED<3>" LOC = "K14" ; #LD3
NET "LED<4>" LOC = "E17" ; #LD4
NET "LED<5>" LOC = "P15" ; #LD5
NET "LED<6>" LOC = "F4" ; #LD6
NET "LED<7>" LOC = "R4" ; #LD7