//! **************************************************************************
// Written by: Map P.28xd on Wed Feb 28 16:11:36 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SW<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "F50MHz" LOCATE = SITE "B8" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "BTN0" LOCATE = SITE "B18" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "SEG<7>" LOCATE = SITE "C17" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "G18" LEVEL 1;
NET "F50MHz_IBUFG" BEL "XLXI_7.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

