//! **************************************************************************
// Written by: Map P.28xd on Wed Feb 28 16:52:09 2018
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

